<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
           </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
        <form id="formID2" class="formular" method="post" action="">
		<fieldset>
			<legend>
				Phone
			</legend>
			<label>
				+103-304-340-4300-043
				<br/>
				+1 305 768 23 34 ext 23
				<br/>
				+1 (305) 768-2334 extension 703
				<br/>
				+1 (305) 768-2334 x703
				<br/>
				04312 / 777 777
				<br/>
				01-47.34/32 56
				<br/>
				(01865)  123456
				<br/>
				<span>Phone : </span>
				<input value="+1 305 768 23 34 ext 23 BUG" class="validate[required,custom[phone]] text-input" type="text" name="telephone" id="telephone" />
			</label>
		</fieldset>
		<fieldset>
			<legend>
				OnlyLetter
			</legend>
			<label>
				<span>only ascii letters, space and '</span>
				<input value="this is an invalid char '.'" class="validate[required,custom[onlyLetterSp]] text-input" type="text" name="onlyascii" id="onlyascii" />
			</label>
		</fieldset><input class="submit" type="submit" value="Validate &amp; Send the form!"/><hr/>
	</form>
</section>
