<header>
    <div class="header-content">
       <div class="header-content-inner">
           <h1>Your Favorite Source of Free Bootstrap Themes</h1>
           <!-- START CLICKX LEAD MAGNET CODE --> <script type='text/javascript' src='https://clickx-staging.herokuapp.com/clickx-lead-magnet.js' async defer></script><link href='https://clickx-staging.herokuapp.com/clickx-lead-magnets.css' rel='stylesheet'/><a class="clx-l-m-p-l" href="javascript:void(0)" style="font-size: 35px; font-weight: normal;" data-tracker-id="BOPO1G1Dwvc" data--clmg-trigger="true" data--clmg-host="https://clickx-staging.herokuapp.com">Click here</a><!-- END CLICKX LEAD MAGNET CODE -->
            <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
  </header>
