<header>
    <div class="header-content">
       <div class="header-content-inner">
           <h1>Your Favorite Source of Free Bootstrap Themes</h1>
           <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <!-- START CLICKX LEAD MAGNET CODE --> <script type='text/javascript' src='http://localhost:3000/clickx-lead-magnet.js' async defer></script><link href='http://localhost:3000/clickx-lead-magnets.css' rel='stylesheet'/><div class="clx-l-m-c-b" data-tracker-id="tg5QGXHgvYo" data--clmg-trigger="true" style="background: rgb(106, 92, 148); border-width: 3px; border-color: rgb(97, 60, 171); border-radius: 9px; padding-top: 10px; padding-bottom: 10px;" data--clmg-host="http://localhost:3000"><img class="clx-l-m-c-b-m" src="https://res.cloudinary.com/htro6l1zt/image/upload/v1505457193/lead_magnet/nbtkdh1ogtvqjamojuqq.jpg" style="width: 80px; float: left;"><div class="clx-l-m-in-content" style="color: rgb(255, 255, 255);"><h1 style="color: rgb(255, 255, 255);">Is Laser Treatment Painful?</h1></div></div><!-- END CLICKX LEAD MAGNET CODE -->
        </div>
    </div>
</header>
