<header>
    <div class="header-content">
       <div class="header-content-inner">
           <!-- START CLICKX LEAD MAGNET CODE --> <script type='text/javascript' src='https://app.clickx.io/clickx-lead-magnet.js' async defer></script><link href='https://app.clickx.io/clickx-lead-magnets.css' rel='stylesheet'/><div class="clx-l-m-c-b" data-tracker-id="mrJhj1_Jmi8" data--clmg-trigger="true" style="float: left; width: 100%; text-align: center; background: rgb(245, 241, 215); padding: 10px 30px; border-color: rgb(255, 224, 158); border-width: 2px; border-radius: 0px;" data--clmg-host="https://app.clickx.io"><div class="clx-l-m-in-content" style="color: rgb(240, 51, 51);"><p><strong>Exclusive Download: You can download this article and save it for later!</strong></p><p style="color: rgb(128, 153, 207);"></p><p>Click here to save this guide as a PDF!</p></div></div><!-- END CLICKX LEAD MAGNET CODE -->
           <h1>Your Favorite Source of Free Bootstrap Themes</h1>
           <p>Start Bootstrap can help you build better websites using the Bootstrap CSS framework! Just download your template and start going, no strings attached!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
  </header>
