<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>
<script src="js/jquery.fittext.js"></script>
<script src="js/wow.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="js/creative.js"></script>
<script src="js/jquery.validationEngine-en.js" type="text/javascript" charset="utf-8"></script>
<script src="js/jquery.validationEngine.js" type="text/javascript" charset="utf-8"></script>

<!-- START CLICKX TRACKER CODE: Place below body tag  --> <script type="text/javascript">!function(e,n,o,t){var r=n.createElement(o);r.src=t+"?time="+(new Date).getTime(),r.async=!0,r.onload=function(){ClickxTracker.init({twId:"2yUs1AbtNs8", apiUrl:"https://clickx-staging.herokuapp.com"})},r.onerror=function(){console.log("Error")},n.getElementsByTagName("head")[0].appendChild(r)}(window,document,"script","https://clickx-staging.herokuapp.com/clickx-tracker.js");</script><noscript><p><img src="https://clickx-staging.herokuapp.com/tracker.gif?twId=2yUs1AbtNs8&noscript=true" style="border:0;" alt="" /></p></noscript><!-- END CLICKX TRACKER CODE -->Finally include the desired theme

<link rel="stylesheet" href="css/validationEngine.jquery.css" type="text/css"/>
<script>
	jQuery(document).ready(function(){
			jQuery("#formID2").validationEngine('attach', {
				onValidationComplete: function(form, status){
					alert("The form status is: " +status+", it will never submit");
				}  
			})
		});
	</script>
